@use "../../sass/base.scss";

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        margin: 0px 0.5em;
    }

    select {
        background-color: base.$pokedex-screen-color;
        color: base.$pokedex-border-color;
        border: base.$pokedex-border-color solid 2px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0.5em 1em;
    }

    select:disabled {
        cursor: default;
    }
}