// Variables

$pokedex-body-color: #dc0a2d;
$pokedex-body-detail-color: #6e0315;
$pokedex-screen-color: #232323;
$pokedex-border-color: #dedede;
$pokedex-button1-color: #52ae5f;
$pokedex-button2-color: #28aafe;

$favorite-color: #fa8;
$male-color: #3355FF;
$female-color: #FF77DD;
$white-color: #fff;
$black-color: #000;

$type-normal-color: #9FA19F;
$type-fire-color: #E62829;
$type-water-color: #2980EF;
$type-electric-color: #FAC000;
$type-grass-color: #3FA129;
$type-ice-color: #3DCEF3;
$type-fighting-color: #FF8000;
$type-poison-color: #9141CB;
$type-ground-color: #915121;
$type-flying-color: #81B9EF;
$type-psychic-color: #EF4179;
$type-bug-color: #91A119;
$type-rock-color: #AFA981;
$type-ghost-color: #704170;
$type-dragon-color: #5060E1;
$type-dark-color: #624D4E;
$type-steel-color: #60A1B8;
$type-fairy-color: #EF70EF;

// Global styles

@font-face {
    font-family: 'Pokemon Classic';
    src: url(../assets/fonts/PokemonClassic.ttf);
}

* {
    font-family: 'Pokemon Classic', sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: $pokedex-body-color;
    padding: 1.5em 2em;
    border-bottom: $pokedex-body-detail-color solid 3px;
}

main {
    background-color: $pokedex-screen-color;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: calc(100vh - 84.97px);
}

footer {
    background-color: $pokedex-body-color;
    border-top: $pokedex-body-detail-color solid 3px;
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

button {
    @extend %flex-center-center;
    background-color: $pokedex-button2-color;
    border: $pokedex-body-detail-color solid 2px;
    border-radius: 5px;
    height: 100%;
    padding: 0.5em 1em;
    color: $black-color;
    cursor: pointer;
}

button:disabled {
    cursor: default;
    opacity: 0.7;
}

// Defaul styles

%flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

%flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pokemon-idle {
    -webkit-animation: idle 3s linear infinite; /* Safari */
    animation: idle 3s linear infinite;
}

.image-container {
    background-color: $pokedex-screen-color;
    border: 8px solid $pokedex-border-color;
    border-radius: 10px;
    @extend %flex-center-center;
}

/* Safari */
@-webkit-keyframes idle {
    0% { -webkit-transform: translate(0px, 0px) scaleX(1) scaleY(1); }
    50% { -webkit-transform: translate(0px, -5px) scaleX(1.05) scaleY(1.09); }
    100% { -webkit-transform: translate(0px, 0px) scaleX(1) scaleY(1); }
}

@keyframes idle {
    0% { transform: translate(0px, 0px) scaleX(1) scaleY(1); }
    50% { transform: translate(0px, -5px) scaleX(1.05) scaleY(1.09); }
    100% { transform: translate(0px, 0px) scaleX(1) scaleY(1); }
}

// Default types

%types {
    border-radius: 10px;
    @extend %flex-center-center;
}

%type {
    color: $pokedex-border-color;
    @extend %flex-center-center;
    text-transform: uppercase;
}

.only-type {
    @extend %type;
    border-radius: 10px;
    border: solid 4px $pokedex-body-detail-color;
    width: 100%;
}

.primary-type {
    @extend %type;
    border-radius: 10px 0px 0px 10px;
    border-top: 4px solid $pokedex-body-detail-color;
    border-right: 2px solid $pokedex-body-detail-color;
    border-bottom: 4px solid $pokedex-body-detail-color;
    border-left: 4px solid $pokedex-body-detail-color;
    width: 50%
}

.secondary-type {
    @extend %type;
    border-radius: 0px 10px 10px 0px;
    border-top: 4px solid $pokedex-body-detail-color;
    border-right: 4px solid $pokedex-body-detail-color;
    border-bottom: 4px solid $pokedex-body-detail-color;
    border-left: 2px solid $pokedex-body-detail-color;
    width: 50%
}

.type-normal {
    background-color: $type-normal-color;
}

.type-fire {
    background-color: $type-fire-color;
}

.type-water {
    background-color: $type-water-color;
}

.type-grass {
    background-color: $type-grass-color;
}

.type-poison {
    background-color: $type-poison-color;
}

.type-flying {
    background-color: $type-flying-color;
}

.type-bug {
    background-color: $type-bug-color;
}

.type-electric {
    background-color: $type-electric-color;
}

.type-ground {
    background-color: $type-ground-color;
}

.type-fairy {
    background-color: $type-fairy-color;
}

.type-fighting {
    background-color: $type-fighting-color;
}

.type-psychic {
    background-color: $type-psychic-color;
}

.type-dark {
    background-color: $type-dark-color;
}

.type-steel {
    background-color: $type-steel-color;
}

.type-dragon {
    background-color: $type-dragon-color;
}

.type-rock {
    background-color: $type-rock-color;
}

.type-ice {
    background-color: $type-ice-color;
}

.type-ghost {
    background-color: $type-ghost-color;
}

