@use "../../sass/base.scss";

.card-container {
    background-color: base.$pokedex-body-color;
    width: 100%;
    border-radius: 0px 10px 0px 10px;
    border: base.$pokedex-body-detail-color solid 3px;
    min-height: 400px;
    display: flex;
}

.card-body {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;

    .image-container {
        background-color: base.$pokedex-screen-color;
        border: 8px solid base.$pokedex-border-color;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
    }

    .title-container {
        background-color: base.$pokedex-screen-color;
        border: 4px solid base.$pokedex-border-color;
        border-radius: 10px;
        margin: 3em 0 0.5em 0;
        color: base.$pokedex-border-color;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.7em;
        display: flex;
        align-items: center;
    }

    .types-container {
        @extend %types;
        margin: 0.5em 0;
    }

    .type-container {
        padding: 0.7em;
    }

    .buttons-container {
        width: 100%;
        margin-top: 0.5em;

        button {
            width: 50%;
        }
    }
}