@use "../../sass/base.scss";

.stat-body {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .stat-name {
        text-transform: uppercase;
        text-align: end;
        margin-right: 0.5em;
    }

    .stat-value {
        width: 250px;
        .stat-line {
            height: 0.8em;
            border-radius: 4px;
        }
    }
}

@media (max-width: 700px) {
    .stat-body {
        .stat-value {
            width: 150px;
        }
    }
}

@media (max-width: 500px) {
    .stat-name {
        font-size: 0.5em;
    }
    .stat-body {
        .stat-value {
            width: 80px;
            .stat-line {
                height: 0.4em;
                border-radius: 2px;
            }
        }
    }
}